body{
    margin: 0px;
    padding: 0px;
    background-color: honeydew;
}
#first{
    background-color: #50a3e4;
    padding: 17px;
    font-size: 27px;
    font-family: "Arial";
}
#title{
    background-color: #f10432;
    padding: 20px;
    text-align: center;
    font-size: 23px;
    color: white;
}
#nav{
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-family: cursive;
}
#nav a:hover{
    color: red;
}
.heads{
    background-color: greenyellow;
    font-size: 16px;
    text-align: left;
    padding: 13px;
    font-size: 27px;
}
a{
    text-decoration: none;
}
table{
    border-collapse: collapse;
    font-family: arial, sans-serif;
    margin: 12px;
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.new{
    font-size: 25px;
    position: relative;
    left: 20px;
}
.new:hover{
    color: red;
    text-decoration: underline;
}
#doc{
    border: 1px solid ;
    float: left;
    color: #401303;
    padding: 15px;
    position: relative;
    left: 40%;
    top: 15px;
    border-radius: 8px;
    background-color: #08bbbb;
}
#doc input{
    float: right;
    padding: 4px;
}
#doc lable{
    font-size: 20px;
}
#modify{
    border: 1px solid;
    font-size: 20px;
    float: left;
}
#docs{
    margin: 12px 12px;
    border: 1px solid ;
    float: left;
    padding: 10px 5px 6px;
    position: relative;
    left: 18%;
    font-size: 20px;
    background-color: antiquewhite;
    font-family: "Arial", sans-serif;
}
#docs input{
    padding: 6px;
    font-size: 13px;
    font-family: sans-serif;
}