body{
    margin: 0px;
    padding: 0px;
    background-image: url(Images/AIIMS.jpg);
    background-size: cover;
}
#form{
    border: 1px solid;
    width: 25%;
    padding: 30px;
    margin: 0px auto;
    position: relative;
    top: 100px;
    border-radius: 6px;
    background-color: rgba(0, 0, 2, 0.2);
    font-size: 18px;
}
#form input{
    padding: 5px;
    border-bottom: 1px solid;
    font-size: 15px;
    float: right;
}
#submit{
    margin-top: 7px;
}
